@import "components/datepicker";

.js-datepicker {
    width: 150px !important;
    display: inline-block !important;
    margin-left: 10px;
    margin-right: 10px;
}

.dates-container, .blocks-container {
    margin-bottom: 20px;
    margin-top: 20px;
}
.hidden {
    display: none;
}