<title>
  <%= gettext("%{subnetwork} Explorer", subnetwork: LayoutView.subnetwork_title()) %>
</title>
<meta name="description" content="<%= gettext "The Fuse network is a permissionless and border-less public ledger designed for easy integration of everyday payments."%>">
<meta name="keywords" content="BlockScout, blockchain, api, analytics, address, smart contract">
